// Specific CSS for your home-p
.vertical-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.vertical-center-content h1 {
  color: white;
}

#big-container-home {
  background-image: url(https://res.cloudinary.com/tootoon/image/upload/v1558710038/castle1_gn6p3l.jpg);
  background-size: cover;
  height: 100vh;
}

.form-home {
  width: 800px;
  margin: 20px;
}

.form-center {
  display: flex;
  align-items: center;
}

.ap-dropdown-menu {
  text-align: left;
}
