.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description {
  background: white;                         /* White background */
  padding: 20px;                             /* Internal space */
  border-radius: 4px;
  height: 100%;                       /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

#image_show {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-trip-infos h1 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: bold;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  text-align: justify;
}


.card-trip .card-trip-infos {
  padding: 0;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.calendar-book {
  position: relative;
}


.carte {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

#links {
  display: flex;
  justify-content: start;
}

#links .btn {
  margin: 3px;
}

.card-image {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 40px;
  height: 300px;
}

.map-calendar {
  display: flex;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
}

.calendar-book {
  width: 100%;
}
