<h1>My bookings</h1>
<% @bookings.each do |booking| %>
  <h2><%= booking.worksite.name %></h2>
  <ul>
    <li> du <%= booking.start_date %> au <%= booking.end_date %> </li>
    <li>propriétaire : <%= booking.worksite.user.email %> </li>
  </ul>
<% end %>
