<div class="container">
  <div class="row justify-content-center">
    <div>
      <div class="form">
        <h2 style="margin-bottom: 0px; font-weight: 500;"></h2>
        <%= simple_form_for [worksite, booking] do |f| %>
        <div class="calendar-horizontal">
        <div class="start-date">
        <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start"} %>
        </div>
        <div class="end-date">
        <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end"} %>
        </div>
        </div>
        <%= f.submit "Réserver", class: "btn btn-primary my-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



