<div class="navbar fixed-top navbar-expand-sm navbar-light bg-primary navbar-lewagon px-5">
  <a class="navbar-brand" href="/">
    <img src="https://res.cloudinary.com/tootoon/image/upload/v1558710038/logo_rebuilt1_a37z8f.png" alt="logo" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
     <li class="nav-item active item_sign">
        <a class="nav-link" href="/bookings">Mes chantiers à venir</a>
      </li>
      <li class="nav-item active item_sign">
        <a class="nav-link" href="#">Mes propriétés</a>
      </li>
      <li class="nav-item active item_sign">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="<%= worksites_path %>">Tous les projets</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_worksite_path %>">Proposer un projet</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= new_user_session_path %>">Connexion</a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
