<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h1>(Re)Build the World </h1>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Find a place..." />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </form>
        <div class="create_project">
        <%= link_to "Create a project", new_worksite_path %>
        <br>
        <%= link_to "Worksites", worksites_path %>
        </div>
      </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://res.cloudinary.com/tootoon/image/upload/v1558710038/castle1_gn6p3l.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/tootoon/image/upload/v1558710039/castle2_pfbqye.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/tootoon/image/upload/v1558710039/castle3_hc27yk.jpg" alt="Third slide">
    </div>
  </div>
</div>
