
<div id="big-container-home" class="vertical-center-container">
  <div class="vertical-center-content text-center">
    <h1>Adopte un château</h1>
    <div class="form-center">
      <div class="form-home">
      <%= simple_form_for :query, url: worksites_path, method: :get do |f| %>
        <%= f.input :localisation, label: false, placeholder: "Trouve le château de tes rêves..." %>
      </div>
        <div>
        <%= f.submit "Trouver", class: 'my-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

