<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h1>(Re)Build the World </h1>
        <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Find a place..." />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        </form>
      </div>
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://res.cloudinary.com/tootoon/image/upload/v1558710038/castle1_gn6p3l.jpg" alt="First slide">
    </div>
  </div>
</div>
