
<div class="card-trip">
  <img src="<%= cl_image_path @worksite.photo, height: 300, width: 400, crop: :fill %>" alt="Card image cap">
  <div class="card-trip-infos container">
    <div class="description">
      <h1><%= @worksite.name %></h1>
      <p><%= @worksite.description %></p>
    </div>
    <img src='../../assets/camille.jpg' class="card-trip-user avatar-bordered"/>
  </div>
  <div class="carte">
    <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/930x300?access_token=pk.eyJ1Ijoibmljb2xhc2NoaWNhbiIsImEiOiJjanZkcjRxbTUwNXI2NDVvdWR6Zm5mOWV6In0.5TmGyZQZyDv33XQudjiS8g'>
  </div>
</div>


<!-- https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1Ijoibmljb2xhc2NoaWNhbiIsImEiOiJjanZkcjRxbTUwNXI2NDVvdWR6Zm5mOWV6In0.5TmGyZQZyDv33XQudjiS8g
 -->
