.index {
  padding-top: 200px;
  background-color: rgb(240, 240, 240)
}

#title-worksite h1 {
  padding-top: 150px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-align : center;
  font-weight: lighter;
  color: rgb (50, 50, 50);
  padding-bottom: 50px;
  color: #305f72;
}

.text-center {
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card {
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  object-fit: cover;
}

.card-body {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.voir_plus_card {
  border: 2px solid #305F72;
  background-color: white;
  margin-top: 4px;
  border-radius: 10px;
}

.fas {
  margin-right: 10px;
}

.card-works {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 16px;
  margin-top: 8px;
  border-radius: 4px;
  justify-content: space-between;
}


.card-works h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-works li {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  list-style: none;
}

.card-booking-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-booking-description h2 {
  padding-bottom: 15px;
}

.cards {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cards img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.cards h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.cards p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.cards .user-card-infos {
  padding: 16px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 200px;
  position: relative;
}

ul {
padding-left: 0px;
}

#btn-flotting {
  position: absolute;
  right: 10px;
  top: 10px;
  .btn {
    border: none;
  }
}
