.carousel-inner {
  img {
    height: 100vh;
  }
}

.carousel-caption {
  position: absolute;
  top: 70px;
}

.carousel-caption h1 {
  margin-bottom: 40px;
}
 .simple_form {
  padding-bottom: 215px;
 }

 .form-control {
  background-color: white;
  opacity: 0.5;
 }

 .btn.btn-flat {
  background-color: #305f72;
  opacity: 0.9;
 }

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid white;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.create_project a {
  color: white;
  text-decoration: underline;
}

.create_project {
  padding-bottom: 40px;
  margin-top: 0px;
  padding-top: 0px;
}

.btn-flat:hover {
  opacity: 0.8;
  color: white;
}
