.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  padding-left: 25px;
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.img {
  width: 100px;
}

.navbar {
  position: fixed;
  z-index: 2;
  width: 100vw;
  position: sticky;
  top: 0;
}

.nav-item a {
  font-weight: bold;
}

.navbar-nav {
  padding-right: 20px;
}

.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

