.navbar {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  z-index: 2;
  width: 100vw;
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar img {
  width: 60px;
  height: 100%;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
}

.nav-item a {
  font-weight: bold;
}

.nav-link {
  color: white;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}


.nav-item {
  margin-right: -10px;
}
